---
layout: global/base.njk
title: Sobre Mí.
---
<header>
  <div class="container">
    <h1 class="site-title">{{ title }}</h1>
    </div>
  </header>
  <div class="main container">
   <h2>Hola</h2>
<p>Soy Valdemar, tengo experiencia trabajando con tecnologías desde hace un poco más de 10 años.</p>
<p>Puntualmente prefiero las Tecnologías Open Source y Software Libre, ya que nos da muchas más ventajas al trabajar con ellas.</p>
<p>Mi principal labor IT en la mayoría de los casos se basa en la administración de Sistemas GNU/Linux. Sin embargo también he realizado algunos sitios web para Instituciones, Emprendimientos y Organizaciones sin fine de lucros.</p>  
<p>Si deseas ponerte en contacto conmigo, puede hacerlos por alguna de las vias listadas acá en mi pagina de <a href="/contacto" title="Contacto">[contacto]</a></p>
</div>