{%- include "global/header.njk" -%}
<section class="bg-white py-20">
<div class="container mx-auto px-6">
  {{ content | safe }}
  </div>  
</section>
{%- include "global/footer.njk" -%}
</body>
</html>